<img [src]="productDetails.pImage" alt="Product Image" width="100" height="150" />
<p>Name: {{ productDetails.productName }}</p>
<p>Price: {{ '$' + productDetails.productPrice }}</p>
<p>Color: {{ productDetails.productColor }}</p>
<p>Discounted Price: {{ '$' + getDiscountedPrice().toFixed(2) }}</p>
<p>{{ productDetails.inStock > 0 ? 'In Stock' : 'Out of Stock' }}</p>
<button [disabled]="productDetails.inStock <= 0">Buy Now</button>

<!-- String Interpolation doesn't work with hidden, disabled and checked attributes -->
<input bind-value="name">
